{% extends 'main.html' %} {% block content %}
<h1>Delete Project</h1>

<form action="" method="POST">
  {% csrf_token %}
  <p>Are you sure you want to Delete "{{object}}" ?</p>
  <a href="{% url 'projects' %}"> Go back </a>
  <input type="submit" value="Delete" />
</form>

{% endblock content %}
