{% extends 'main.html' %}

{% block content %}
<h1>Create Project</h1>

<form method="post" action="">
    {% csrf_token %}


    {{form.as_p}}


    <input type="submit" value="Submit">
</form>

{% endblock content %}