{% extends 'main.html' %} {% block content %}
<h1>Home</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>
        <a href="/project/{{project.id}}"
          >{{project.title}} {% if project.topRated %} <strong>***</strong>
          {%endif %}
        </a>
      </td>
      <td>{{project.description}}</td>
      <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
      <td><a href="{% url 'delete' project.id %}">Delete</a></td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock content %}
