{% extends 'main.html' %}

{% block content %}
<h1>{{project.title}}</h1>


{% for tag in tags %}
<span style="border:1px solid #888;padding:1 em;">
	{{tag}}
</span> {% endfor %}

<hr>

<p>
	{{project.description}}
</p>

<hr>

<h4>Reviews</h4>

{% for review in reviews %}
<div style="border:1px solid #888;padding:1 em; width: 50%;">
	Comment: {{review.body}} <br>
	Vote:{{review.value}}<br>
</div>
<br>
{% endfor %}

{% endblock content %}